# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pth
*.pt

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# Virtual Environments
.env
.venv
env/
venv/

Assignment 1/Data/*
Assignment 2/data/data_encdec/*
Assignment 4/data/vehicles
Assignment 4/data/hw5